.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.App{
  background-color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.App__stats{
  display: flex;
  justify-content: space-between;
}
@media (max-width:990px){
  .App{
    flex-direction: column;
  }
}
.App__left{
  flex: 0.9;
}
img{
  width: 350px;
  height: 280px;
  opacity: .7;
}

